<div id="<%= dom_id mytutorial %>">
  <p>
    <strong>Name:</strong>
    <%= mytutorial.name %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= mytutorial.pic %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mytutorial.description %>
  </p>

</div>
