<h1>Editing mytutorial</h1>

<%= render "form", mytutorial: @mytutorial %>

<br>

<div>
  <%= link_to "Show this mytutorial", @mytutorial %> |
  <%= link_to "Back to mytutorials", mytutorials_path %>
</div>
