<div id="<%= dom_id somecoding %>">
  <p>
    <strong>Coding:</strong>
    <%= somecoding.coding_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= somecoding.name %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= somecoding.pic %>
  </p>

</div>
