<h1>Editing somecoding</h1>

<%= render "form", somecoding: @somecoding %>

<br>

<div>
  <%= link_to "Show this somecoding", @somecoding %> |
  <%= link_to "Back to somecodings", somecodings_path %>
</div>
