<div id="<%= dom_id tutorial %>">
  <p>
    <strong>Mytutoriallist:</strong>
    <%= tutorial.mytutoriallist_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tutorial.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tutorial.content %>
  </p>

</div>
