<div id="<%= dom_id sometutorial %>">
  <p>
    <strong>Mytutorial:</strong>
    <%= sometutorial.mytutorial_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= sometutorial.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sometutorial.description %>
  </p>

</div>
