<h1>Editing sometutorial</h1>

<%= render "form", sometutorial: @sometutorial %>

<br>

<div>
  <%= link_to "Show this sometutorial", @sometutorial %> |
  <%= link_to "Back to sometutorials", sometutorials_path %>
</div>
