<div id="<%= dom_id programminglanguage %>">
  <p>
    <strong>Name:</strong>
    <%= programminglanguage.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= programminglanguage.code %>
  </p>

</div>
