<h1>Editing anycoding</h1>

<%= render "form", anycoding: @anycoding %>

<br>

<div>
  <%= link_to "Show this anycoding", @anycoding %> |
  <%= link_to "Back to anycodings", anycodings_path %>
</div>
