<div id="<%= dom_id mytutoriallist %>">
  <p>
    <strong>Mytutorial:</strong>
    <%= mytutoriallist.mytutorial_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= mytutoriallist.name %>
  </p>

</div>
