<h1>Editing mytutoriallist</h1>

<%= render "form", mytutoriallist: @mytutoriallist %>

<br>

<div>
  <%= link_to "Show this mytutoriallist", @mytutoriallist %> |
  <%= link_to "Back to mytutoriallists", mytutoriallists_path %>
</div>
